# Abaikan semua file di folder data
data/*
!data/.gitkeep
!data/raw/
data/raw/*
!data/raw/.gitkeep
!data/raw/data_pendukung/
data/raw/data_pendukung/*
!data/raw/data_pendukung/.gitkeep


# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Virtual Environment
venv/
env/

# Dashboard Node Modules & Build
dashboard/node_modules/
dashboard/dist/
*.local

# Ignore heavy ML models, assets & big submissions
dashboard_assets/
submissions/
archive_scripts/
*.docx
*.pdf
scraper_bbws_selenium_result.csv



