# Abaikan semua file di folder data
data/*
!data/.gitkeep
!data/raw/
data/raw/*
!data/raw/.gitkeep
!data/raw/data_pendukung/
data/raw/data_pendukung/*
!data/raw/data_pendukung/.gitkeep


# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Virtual Environment
venv/
env/

# Dashboard Node Modules & Build
dashboard/node_modules/
dashboard/dist/
*.local

# Ignore big submissions & archives
submissions/
archive_scripts/
*.docx
*.pdf

# Ignore preliminary experiment notebooks (only keep official final notebook)
notebooks/*
!notebooks/Datashine_Notebook.ipynb




